body {
    background-color: #181a1b;
    color: white;
    font-family: 'Poppins', sans-serif;
}
a {
    color: #3391ff;
}
input {
    border-color: #736b5e;
    background-color: #181a1b;
    color: white;
}
