@font-face {
    font-family: Poppins;
    src: url('Poppins-Light.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url('Poppins-SemiBold.ttf');
    font-weight: bold;
}

body {
    background-color: #181a1b;
    color: white;
    font-family: 'Poppins', sans-serif;
}
a {
    color: #3391ff;
}
input, button {
    border-color: #736b5e;
    background-color: #181a1b;
    color: white;
}
