<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/darkmode.css">
        <style>
            .center {
              margin: 10%;
              margin-top: 5%;
              width: 80%;
              text-align: left;
              overflow: auto;
              padding: 5px;
            }
            img {
              object-fit: scale-down;
            }
        </style>
    </head>
    <body>
        <div class="center">
            1. In Chrome (on computer) open <a href=https://open.spotify.com target="_blank">https://open.spotify.com</a>
             and log in. <br>
            2. Open the Inspector window by pressing Ctrl+Shift+C. <br>
            3. In the opened window, click the Application tab. <br> <img src=static/ins1.png> <br>
            4. Choose Cookies, then https://open.spotify.com <br> <img src=static/ins2.png> <br>
            5. In the sp_dc row click Value two times (marked in green). <br> <img src=static/ins3.png> <br>
            6. Copy the sp_dc token using Ctr+C. <br>
            7. Go back to the <a href="/">main page</a> and paste your token. <br>
            8. The token will be saved automatically in your browser, you will need to change it once a year. <br>
        </div>
    </body>

</html>
