<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spotify Friend Activity</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='darkmode.css') }}">
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}"/>
        <style>
            .center {
              margin: 25%;
              margin-top: 10%;
              width: 50%;
              text-align: center;
              padding: 10px;
            }
            .error {
              color: #ff4d4d;
              font-weight: bold;
            }
        </style>
        <script>
           function setCookie(){
             document.cookie= "sp_dc=" + document.getElementById('sp_dc').value + "; expires=Fri, 01 Jan 2100 00:00:00 UTC";
             window.location = '/activity'
           }
        </script>
    </head>
    <body>
        <div class="center">
            <p class="error">{{ error }}</p>
            <form onsubmit="setCookie()">
                <input type="text" id="sp_dc" autocomplete=off autofocus placeholder="input your sp_dc token" required>
                <input type="submit" value="Save" id="submit">
            </form>
            <br>
            <a href="/howto">how to get the sp_dc token?</a>
        </div>
    </body>
</html>
